//Primary Text
$VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$SoftRed: hsl(14, 88%, 65%);
//Gradient Background gradient
$SoftViolet: hsl(273, 75%, 66%);
$SoftBlue: hsl(240, 73%, 65%);
//Neutral Text
$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);
//Dividers
$LightGrayishBlue: hsl(240, 5%, 91%);
//Body Copy
//Font size: 12px
//Family: Kumbh Sans
//Weights: 400, 700
*{
	box-sizing: inherit;
	font-family: inherit;
}
html{
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	min-height: 100%;
	overflow-y: scroll;
}
body{
	background-image: linear-gradient($SoftViolet, $SoftBlue);
	margin: 0;
}
.main{
	background-color: white;
	border-radius: 1.5rem;
	width: 327px;
	margin: 120px auto 0;
	box-shadow: 0 15px 30px -10px rgba(black, 0.4);
	@media screen and (min-width: 960px) {
			width: 920px;
			display: flex;
			// align-items: center;	
	}
}
.header{
	flex: 1	;
	background: url('images/bg-pattern-mobile.svg') no-repeat top center; 
	@media screen and (min-width: 960px) {
		align-self: stretch;
		background: url('images/bg-pattern-desktop.svg') no-repeat -575px -300px;
		picture{
			clip-path: polygon(0px 0%, 100% 0, 100% 180%, 0px 180%);
		}
	}
}
.header-image{
	margin: 0 0 -80px;
	img{
		transform: translate(15px, -110px);
		display: block;
	}
	.box-desktop{
		display: none;
		@media screen and (min-width: 960px) {
			display: block;
			transform: translate(-90px, -135px,);
		}
	}
	@media screen and (min-width: 960px){
		img{
			transform: translate(-80px, 25%);
		}
	}
}
.questions{
	padding: 0 2rem 4rem;
	@media screen and (min-width: 960px) {
		flex: 1;
	}
}
.questions__title{
	text-align: center;
	font-size: 2.5rem;
	@media screen and (min-width: 960px) {
		text-align: initial;
		margin-top: 6rem;
	}
}
.questions__question{
	border-bottom: 1px solid $LightGrayishBlue;
	@media screen and (min-width: 960px) {
		margin-right: 7rem;
	}
}
.question__title{
	font-weight: 400;
	font-size: 1.1rem;
	margin-top: 2rem;
	a{
		color: $VeryDarkGrayishBlue;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	img{
			margin-left: auto;
			transition: transform 0.25s;
		}
}
.question__title--active{
	font-weight: 600;
	img{
		transform: rotate(180deg);
		transform-origin: center 3px;
	}
}
.question__answer{
	color: $DarkGrayishBlue;
	height: 0;
	overflow: hidden;
	transition: height 0.25s;
}
.question__title--active + .question__answer{
	height: 4rem;
	overflow-y: auto;
}
.attribution {
	margin-top: 5rem;
	margin-bottom: 1rem;
	text-align: center;
}
.attribution a {
	color: $LightGrayishBlue;
	text-decoration: none;
}
